.login {
    height: auto;
    width: auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    //@include themify($themes) {
    //    background: themed('colorBackgroundBody');
    //}

    &.login--photo {
        background: url(../shared/img/404.png) no-repeat center;
        background-size: cover;

        .login__card {
            background-color: rgba(0, 10, 16, 0.8);
            color: #ffffff;
        }

        .form__form-group-icon, .form__form-group-button {
            background: transparent;
        }

        .form__form-group-icon, input:not(:last-child) {
            border-right: none;
        }

        .form__form-group-button, input {
            border-left: none;
        }

        .form__form-group-button.active {
            border-color: #eff1f5;

            svg {
                fill: $color-red;
            }
        }

        input {
            color: #ffffff;

            &:focus {
                border-color: #eff1f5;
            }
        }

        p {
            color: #ffffff;
        }

        .login__title {
            color: #ffffff;
        }
    }
}

.login__wrapper {
    margin: auto;
    padding: 10px;
}

.login__card {

    @include themify($themes) {
        background-color: themed('colorBackground');
    }

    background-color: #ffffff;
    padding: 50px 60px;
    max-width: 520px;
    width: 100%;
}

.login__profile {
    text-align: center;
}

.login__btns {
    display: flex;
    width: calc(100% + 10px);
    margin: -10px 0 -20px -10px;

    a {
        margin: 10px 0 20px 10px;
        white-space: nowrap;
    }
}

.login__btn {
    width: 100%;
    margin-right: 0;
}

.login__avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
}

.login__name {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 15px;
    margin-top: 5px;
}

.login__sub {
    margin-top: 0;
    margin-bottom: 10px;
    color: $color-additional;
    font-size: 11px;
    line-height: 15px;
}

a.login__forgot-password {
    position: absolute;
    right: 0;
    color: $color-white;
    margin: 0 0 0.5rem;

    &:hover {
        color: $color-red;
        text-decoration: none;
    }
}

.form__form-group--forgot {
    margin-bottom: 40px;
}

.login__or {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    position: relative;

    &:before, &:after {
        content: "";
        height: 1px;
        width: calc(50% - 90px);
        background: #dddddd;
        position: absolute;
        top: 10px;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}

.login__social {
    text-align: center;
}

.login__social-btn {
    display: inline-block;
    height: 38px;
    width: 38px;
    border-radius: 5px;
    padding: 9px;
    margin-right: 10px;
    transition: all 0.3s;
    border: none;

    &:last-child {
        margin-right: 0;
    }

    svg {
        fill: #ffffff;
        height: 20px;
        width: 20px;
    }

    &.login__social-btn--facebook {
        background: #4766a4;

        &:hover {
            background: darken(#4766a4, 10%);
        }
    }

    &.login__social-btn--google {
        background: #c74d4d;

        &:hover {
            background: darken(#c74d4d, 10%);
        }
    }
}

.login__head {
    margin-bottom: 30px;
    padding-left: 10px;
    border-left: 4px solid $color-blue;
}

.login__logo {
    font-weight: 700;
}

.login__logo-accent {
    color: $color-blue;
}

.login__have-login {
    text-align: center;
    margin-top: 20px;

    a {
        color: $color-blue;
        transition: all 0.3s;

        &:hover {
            color: $color-blue-hover;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 520px) {

    .login__card {
        padding: 35px 30px;
    }
}

@media screen and (max-width: 425px) {

    .login__btns {
        flex-wrap: wrap;
    }
}
